:host::ng-deep {
    .ant-layout {
        min-height: 100%;
    }

    .ant-layout-header {
        padding: 0 1.5rem;
    }

    .ant-layout-sider-zero-width-trigger {
        top: 1.25rem;
    }

    .ant-layout-footer {
        padding: 1.5rem 0;
        text-align: center;
    }
}

.logo {
    margin: 1.5rem 0rem 2rem 1.5rem;

    a {
        font-size: 1.2rem;
        color: #fff;
    }
}

.header-actions {
    margin-top: 0.2rem;
}
.inner-content {
    padding: 1rem;
}
