:host::ng-deep {
    .ant-layout {
        min-height: 100%;
    }

    .ant-layout-has-sider {
        padding-top: env(safe-area-inset-top);
        min-height: 100vh;
        box-sizing: border-box;
        background-color: #00364d;
    }

    @media (min-width: 992px) {
        .ant-layout-sider {
            position: sticky;
            top: 0;
            align-self: flex-start;
            height: 100vh;
        }
    }

    .ant-layout-content {
        flex: 1;
    }

    .ant-layout-header {
        padding: 0 1.5rem;
    }

    .ant-layout-sider-zero-width-trigger {
        top: 1.25rem;
    }


    .ant-layout-footer {
        padding: 1.5rem 0 calc(1.5rem + env(safe-area-inset-bottom));
        text-align: center;
    }
}

.logo {
    margin: 1.5rem 0rem 2rem 1.5rem;

    a {
        font-size: 1.2rem;
        color: #fff;
    }
}

.header-actions {
    margin-top: 0.2rem;
}
.inner-content {
    padding: 1rem;
}
