:host {
    display: flex;
    flex-direction: column;
}

:host::ng-deep {
    .ant-card {
        margin-top: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .ant-card-body {
        flex: 1;
    }
}

.card-tag {
    font-size: 0.8em;
    letter-spacing: 0.03rem;
}

.card-title {
    word-break: break-word;
}

.card-sides {
    margin: 0.1rem 0 0.4rem;
    font-size: 1em;
    font-weight: 600;
}

.card-text {
    white-space: pre-line;
}

.empty {
    border-color: #eeeeee;

    .card-tag,
    .card-title,
    .card-text {
        color: #cccccc;
    }

    .card-block {
        border-bottom-color: #eeeeee;
    }
}

@media all and (min-width: 41.6666rem) {
    :host {
        margin: 0 0.25rem;
        flex: 1 1 0;
        min-width: 0;
        max-width: 25rem;
    }
}
