:host::ng-deep {
    .ant-card {
        margin-top: 1.5rem;
    }
}

.card-tag {
    font-size: 0.8em;
    letter-spacing: 0.03rem;
}

.empty {
    border-color: #eeeeee;

    .card-tag,
    .card-title,
    .card-text {
        color: #cccccc;
    }

    .card-block {
        border-bottom-color: #eeeeee;
    }
}

@media all and (min-width: 41.6666rem) {
    :host {
        margin: 0 0.25rem;
        width: 25rem;
    }

    :host::ng-deep {
        .ant-card-body {
            min-height: 8.6875rem;
        }
    }
}
