@if (meal) {
    <nz-card [class.empty]="isNew" [nzActions]="isNew ? [add] : [edit, move, delete]">
        <div class="card-block">
            <span class="card-tag">{{ meal.type === MealType.Lunch ? 'Mittag' : 'Abend' }}</span>
            <h3 class="card-title">
                @if (!meal.dishes.length) {
                    <span>Kein Menü definiert</span>
                } @else {
                    @if (meal.dishes[0].url) {
                        <a href="{{ meal.dishes[0].url }}" target="_blank">{{ meal.dishes[0].name }}</a>
                    } @else {
                        {{ meal.dishes[0].name }}
                    }
                }
            </h3>
            @if (meal.dishes.length > 1) {
                <p class="card-sides">
                    mit
                    @for (
                        dish of meal.dishes.slice(1);
                        track dish.id;
                        let i = $index;
                        let last = $last;
                        let count = $count
                    ) {
                        @if (last && count > 1) {
                            <span> und </span>
                        }
                        @if (dish.url) {
                            <a href="{{ dish.url }}" target="_blank">{{ dish.name }}</a>
                        } @else {
                            {{ dish.name }}
                        }
                        @if (i < count - 2) {
                            <span>,</span>
                        }
                    }
                </p>
            }
            @if (meal.notes) {
                <p class="card-text">
                    {{ meal.notes }}
                </p>
            }
        </div>
        <ng-template #add>
            <i nz-icon nzType="plus" title="Menü hinzufügen" (click)="createMeal.emit(meal)"></i>
        </ng-template>
        <ng-template #edit>
            <i
                nz-icon
                nzType="edit"
                nzTheme="twotone"
                nzTwotoneColor="#0072a3"
                title="Menü bearbeiten"
                (click)="editMeal.emit(meal)"
            ></i>
        </ng-template>
        <ng-template #move>
            <i nz-icon nzType="swap" title="Menü verschieben" (click)="moveMeal.emit(meal)"></i>
        </ng-template>
        <ng-template #delete>
            <i
                nz-icon
                nzType="delete"
                nzTheme="twotone"
                nzTwotoneColor="#f00"
                title="Menü löschen"
                (click)="deleteMeal.emit(meal)"
            ></i>
        </ng-template>
    </nz-card>
}
