@import '../../../../styles/variables.scss';

:host {
    flex: 1 1 auto;
}

.card-tag {
    font-size: 0.4583333333333333rem;
    letter-spacing: 0.03rem;
}

.empty {
    border-color: #eeeeee;

    .card-tag,
    .card-title,
    .card-text {
        color: #cccccc;
    }

    .card-block {
        border-bottom-color: #eeeeee;
    }
}

@media all and (min-width: $bp-small) {
    :host {
        margin: 0 0.25rem;
        flex-basis: 50%;
    }

    .card {
        display: flex;
        flex-direction: column;
        height: calc(100% - 1.2rem);
    }

    .card-block {
        flex: 1 1 auto;
    }
}
