<nz-modal
    [(nzVisible)]="isOpen"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="isOpen = false"
>
    <ng-template #modalTitle>
        {{ isNew ? 'Neues Menu' : 'Menu bearbeiten' }}
    </ng-template>

    <ng-template #modalContent>
        <form nz-form [formGroup]="form" nzLayout="vertical">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="recipe" nzRequired>
                    Rezept
                </nz-form-label>
                <nz-form-control [nzSpan]="18" nzErrorTip="Pflichtfeld">
                    <nz-select
                        nzShowSearch
                        nzAllowClear
                        formControlName="recipe"
                        [nzDropdownRender]="renderTemplate"
                        [compareWith]="recipeCompareFn"
                    >
                        <nz-option
                            *ngFor="let item of allRecipes$ | async"
                            [nzLabel]="item.name"
                            [nzValue]="item"
                        ></nz-option>
                    </nz-select>
                    <ng-template #renderTemplate>
                        <nz-spin *ngIf="allRecipesLoading$ | async"></nz-spin>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="notes">
                    Notizen
                </nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <textarea rows="4" nz-input name="notes" id="notes" formControlName="notes"></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="isOpen = false">
            Abbrechen
        </button>
        <button nz-button nzType="primary" (click)="onSubmit()" [nzLoading]="submitLoading">
            {{ isNew ? 'Erstellen' : 'Aktualisieren' }}
        </button>
    </ng-template>
</nz-modal>
