:host {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1rem;

    &.loading fc-day-container {
        filter: blur(5px);
    }
}

.loading-indicator {
    position: absolute;
    left: calc(50% - 1.5rem);
    top: 7.5rem;
    z-index: 1;
    filter: blur(0);
}
