@if (loading) {
    <nz-spin nzSimple class="loading-indicator"></nz-spin>
}
@for (day of mealsOfWeek; track day.date.getDay()) {
    <fc-day-container [date]="day.date">
        @for (meal of day.meals; track meal.type) {
            <fc-meal-card
                [meal]="meal"
                (createMeal)="onCreateMeal($event)"
                (editMeal)="onEditMeal($event)"
                (copyMeal)="onCopyMeal($event)"
                (moveMeal)="onMoveMeal($event)"
                (deleteMeal)="onDeleteMeal($event)"
            ></fc-meal-card>
        }
    </fc-day-container>
}

<fc-meal-dialog></fc-meal-dialog>
<fc-move-meal-dialog></fc-move-meal-dialog>
