@import '../../../../styles/variables.scss';

:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 1rem 0.5rem 0;
}

.day-information {
    margin-bottom: -0.8rem;

    &.today {
        font-size: 0.8rem;
        color: var(--clr-btn-link-color);
    }
}

.day-name {
    padding-right: 0.2rem;
    font-weight: bold;
}

.day-date:before {
    content: '(';
}

.day-date:after {
    content: ')';
}

@media all and (min-width: $bp-small) {
    :host {
        flex-direction: row;
        justify-content: center;
    }

    .day-name {
        display: block;

        width: 100%;
    }

    .day-date:before,
    .day-date:after {
        content: unset;
    }

    .day-information {
        width: 6rem;
        margin-top: 1rem;
    }
}
