:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0.75rem 0.5rem 0;
}

.day-information {
    margin-bottom: -0.5rem;
}

.day-name {
    padding-right: 0.2rem;
    font-weight: bold;
}

.day-date:before {
    content: '(';
}

.day-date:after {
    content: ')';
}

@media all and (min-width: 41.6666rem) {
    :host {
        flex-direction: row;
        align-items: stretch;
    }

    .day-name {
        display: block;
        width: 100%;
    }

    .day-date:before,
    .day-date:after {
        content: unset;
    }

    .day-information {
        width: 5.5rem;
        flex-shrink: 0;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}
