<div class="page-header">
    <h1 class="page-title">Wochenplan</h1>
    <button
        nz-button
        nzType="default"
        nzShape="circle"
        nzSize="small"
        (click)="onReload()"
        [nzLoading]="(loading$ | async)!"
    >
        <nz-icon nzType="reload" />
    </button>
</div>

<fc-week-selector
    [week]="(week$ | async)!"
    (switchToNextWeek)="onSwitchToNextWeek()"
    (switchToPreviousWeek)="onSwitchToPreviousWeek()"
    (switchToWeek)="onSwitchToWeek($event)"
></fc-week-selector>

<fc-week-container [mealsOfWeek]="(mealsOfWeek$ | async)!" [loading]="(loading$ | async)!"></fc-week-container>

@if (showTodayButton()) {
    <nz-float-button
        nzType="primary"
        nzIcon="home"
        nz-tooltip
        nzTooltipTitle="zu Heute springen"
        nzTooltipPlacement="left"
        (nzOnClick)="onGoToToday()"
    ></nz-float-button>
}
