$ng-select-highlight: #0065ab !default;
$ng-select-primary-text: rgba(black, 0.87) !default;
$ng-select-primary-light-text: rgba(white, 0.87) !default;
$ng-select-secondary-text: rgba(black, 0.54) !default;
$ng-select-secondary-light-text: rgba(white, 0.54) !default;
$ng-select-disabled-text: rgba(black, 0.38) !default;
$ng-select-divider: rgba(black, 0.12) !default;
$ng-select-bg: #ffffff !default;
$ng-select-border: rgba(black, 0.12) !default;

.ng-select {
    display: inline-block !important;
    ng-select {
        padding: 0;
        height: auto;
        max-height: none;
        max-width: calc(100% - 1rem);
        margin-right: 0.2rem !important;
    }
    .clr-input-wrapper {
        max-height: none;
        clr-icon {
            position: absolute;
            right: -8px;
            top: 0;
        }
    }
    .ng-value-container {
        .ng-value,
        .ng-placeholder {
            border-radius: 10px;
            padding: 0 4px;
            margin: 1px 2px;
            line-height: 22px;
            max-height: 22px;
        }
        .ng-placeholder {
            color: $ng-select-disabled-text;
        }
        .ng-value-icon {
            margin-right: 4px;
            margin-left: 8px;
            &:first-of-type {
                margin-left: 0;
            }
            display: inline-block;
        }

        .ng-placeholder {
            color: $ng-select-primary-light-text;
        }
    }
    .ng-select-multiple {
        .ng-value-container {
            .ng-value {
                color: $ng-select-highlight;
                background: $ng-select-bg;
                border-radius: 3px;
                padding: 0 8px;
            }
        }
        .ng-input {
            input {
                padding: 0 0 0 4px;
            }
        }
    }
    .ng-clear-wrapper {
        text-align: center;
        color: $ng-select-highlight;

        .ng-clear {
            vertical-align: middle;
        }
    }
    .ng-select-focused {
        @extend .clr-focus;

        .ng-value-container .ng-placeholder {
            color: $ng-select-secondary-text;
        }
    }
    &.ng-select-disabled {
        opacity: 0.5;

        .ng-select-container {
            &:hover {
                cursor: not-allowed;
            }

            .ng-value-container .ng-placeholder {
                color: $ng-select-disabled-text;
            }

            .ng-input input {
                cursor: not-allowed !important;
            }
        }
        .ng-arrow-wrapper,
        .ng-clear-wrapper {
            color: $ng-select-disabled-text;
            cursor: not-allowed !important;
        }
    }
    .ng-arrow-wrapper {
        padding: 0 6px;
        transition: transform 0.3s;

        .ng-arrow {
            border-style: solid;
            border-width: 0.05rem 0.05rem 0 0;
            height: 8px !important;
            width: 8px !important;
            top: -2px;
            transform: rotate(135deg);
            color: $ng-select-border;
        }
    }

    &.ng-select-opened .ng-arrow-wrapper {
        transform: rotate(180deg);
    }

    .ng-has-value,
    &.ng-select-filtered .ng-select-container {
        .ng-placeholder {
            display: none;
        }
    }

    .ng-select-container {
        .ng-value-container {
            .ng-input > input {
                padding-left: 0.25rem;
            }
            .ng-placeholder {
                color: $ng-select-secondary-text;
            }
        }
    }
}

.ng-dropdown-panel {
    border: solid 1px $ng-select-border;
    border-radius: 3px;
    margin-top: 4px;
    padding: 10px 0px 10px 0px;
    font-size: 12;
    background: $ng-select-bg;
    left: 0;
    &.ng-select-bottom {
        top: calc(100%);
        box-shadow: 0 1px 0.125rem $ng-select-border;
    }
    &.ng-select-top {
        bottom: calc(100% - 0.84375em);
        box-shadow: 0 -1px 0.125rem $ng-select-border;
    }
    &.multiple {
        .ng-option {
            &.selected {
                background: $ng-select-bg;
            }
            &.marked {
                background: rgba(0, 0, 0, 0.04);
            }
        }
    }
    .ng-dropdown-header {
        border-bottom: 1px solid $ng-select-divider;
        padding: 0 16px;
        line-height: 3em;
        min-height: 3em;
    }
    .ng-dropdown-footer {
        border-top: 1px solid $ng-select-divider;
        padding: 0 16px;
        line-height: 3em;
        min-height: 3em;
    }
    .ng-dropdown-panel-items {
        .ng-optgroup {
            user-select: none;
            cursor: pointer;
            line-height: 3em;
            height: 3em;
            padding: 0 16px;
            color: $ng-select-secondary-text;
            font-weight: 500;
            &.ng-option-marked {
                background: $ng-select-border;
            }
            &.ng-option-disabled {
                cursor: default;
            }
            &.ng-option-selected {
                background: $ng-select-divider;
                color: $ng-select-highlight;
            }
        }
        .ng-option {
            line-height: 3em;
            min-height: 3em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 16px;
            text-decoration: none;
            position: relative;
            color: $ng-select-primary-text;
            text-align: left;
            &.ng-option-marked {
                background: rgba(0, 0, 0, 0.04);
                color: $ng-select-primary-text;
            }
            &.ng-option-selected {
                color: $ng-select-primary-light-text;
                background: $ng-select-highlight;
            }
            &.ng-option-disabled {
                color: $ng-select-disabled-text;
            }
            &.ng-option-child {
                padding-left: 32px;
            }
            .ng-tag-label {
                padding-right: 5px;
                font-size: 80%;
                font-weight: 400;
                color: $ng-select-disabled-text;
            }
        }
    }
}

.clr-error .ng-select {
    width: 94% !important;
    margin-right: 0.25rem;
}
