<button nz-button nzType="primary" (click)="createRecipe.emit()" style="margin-bottom: 1rem">
    <i nz-icon nzType="plus"></i>
    Neues Rezept
</button>

<nz-table
    #recipeTable
    nzSize="middle"
    [nzData]="recipes"
    [nzLoading]="loading"
    nzSize="small"
    [nzScroll]="{ x: true, y: null }"
>
    <thead>
        <tr>
            <th nzWidth="1.875rem"></th>
            <th
                [nzSortOrder]="'ascend'"
                [nzSortFn]="sortByName"
                nzWidth="25rem"
                [nzSortDirections]="['ascend', 'descend']"
            >
                Name
            </th>
            <th [nzSortFn]="sortByLastPreparation" nzWidth="12.5rem">Letzte Zubereitung</th>
            <th nzWidth="12.5rem" [nzFilters]="tags$ | async" [nzFilterFn]="filterByTags">Tags</th>
            <th nzWidth="5.625rem"></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let recipe of recipeTable.data">
            <tr>
                <td
                    *ngIf="recipe.note"
                    [nzExpand]="expandSet.has(recipe._id)"
                    (nzExpandChange)="onExpandChange(recipe._id, $event)"
                ></td>
                <td *ngIf="!recipe.note">&nbsp;</td>
                <td>
                    <a *ngIf="recipe.url" href="{{ recipe.url }}" target="_blank">
                        {{ recipe.name }}
                    </a>
                    <span *ngIf="!recipe.url">{{ recipe.name }}</span>
                </td>
                <td>{{ recipe.lastPreparation | date }}</td>
                <td>
                    <nz-tag *ngFor="let tag of recipe.tags">{{ tag }}</nz-tag>
                </td>
                <td>
                    <button nz-button nzType="text" (click)="editRecipe.emit(recipe)">
                        <i nz-icon nzType="edit" nzTheme="twotone" nzTwotoneColor="#0072a3"></i>
                    </button>
                    <button nz-button nzType="text" (click)="deleteRecipe.emit(recipe)">
                        <i nz-icon nzType="delete" [nzTheme]="'twotone'" [nzTwotoneColor]="'#f00'"></i>
                    </button>
                </td>
            </tr>
            <tr [nzExpand]="expandSet.has(recipe._id)">
                <span>{{ recipe.note }}</span>
            </tr>
        </ng-container>
    </tbody>
</nz-table>
