<button nz-button nzType="primary" (click)="createRecipe.emit()" style="margin-bottom: 1rem">
    <i nz-icon nzType="plus"></i>
    Neues Rezept
</button>

<nz-table [nzData]="recipes" [nzLoading]="loading" nzSize="small" [nzScroll]="{ x: '100' }">
    <thead>
        <tr>
            <th nzWidth="1.875rem"></th>
            <th
                [nzSortOrder]="'ascend'"
                [nzSortFn]="sortByName"
                nzWidth="25rem"
                [nzSortDirections]="['ascend', 'descend']"
            >
                Name
            </th>
            <th [nzSortFn]="sortByLastPreparation" nzWidth="12.5rem">Letzte Zubereitung</th>
            <th nzWidth="12.5rem" [nzFilters]="(tags$ | async)!" [nzFilterFn]="filterByTags">Tags</th>
            <th nzWidth="5.625rem"></th>
        </tr>
    </thead>
    <tbody>
        @for (recipe of recipeTable?.data || []; track recipe.id) {
            <tr>
                @if (recipe.note) {
                    <td
                        [nzExpand]="expandSet.has(recipe.id!)"
                        (nzExpandChange)="onExpandChange(recipe.id!, $event)"
                    ></td>
                }
                @if (!recipe.note) {
                    <td>&nbsp;</td>
                }
                <td>
                    @if (recipe.url) {
                        <a href="{{ recipe.url }}" target="_blank">
                            {{ recipe.name }}
                        </a>
                    }
                    @if (!recipe.url) {
                        <span>{{ recipe.name }}</span>
                    }
                </td>
                <td>{{ recipe.last_preparation | date }}</td>
                <td>
                    @for (tag of recipe.tags; track $index) {
                        <nz-tag>{{ tag }}</nz-tag>
                    }
                </td>
                <td>
                    <button nz-button nzType="text" (click)="editRecipe.emit(recipe)">
                        <i nz-icon nzType="edit" nzTheme="twotone" nzTwotoneColor="#0072a3"></i>
                    </button>
                    <button nz-button nzType="text" (click)="deleteRecipe.emit(recipe)">
                        <i nz-icon nzType="delete" [nzTheme]="'twotone'" [nzTwotoneColor]="'#f00'"></i>
                    </button>
                </td>
            </tr>
            <tr [nzExpand]="expandSet.has(recipe.id!)">
                <span>{{ recipe.note }}</span>
            </tr>
        }
    </tbody>
</nz-table>
