<div class="login-form-container">
    <nz-card nzTitle="Login">
        <nz-alert
            nzType="error"
            [nzMessage]="'Login fehlgeschlagen.'"
            [nzCloseable]="true"
            *ngIf="loginFailed"
            (nzOnClose)="(onLoginFailedAlertClosed)"
        >
        </nz-alert>
        <form nz-form [formGroup]="form" nzLayout="vertical" class="login-form" (ngSubmit)="onLogin()">
            <nz-form-item>
                <nz-form-label nzFor="username" nzRequired>
                    Benutzername
                </nz-form-label>
                <nz-form-control nzErrorTip="Pflichtfeld">
                    <input nz-input name="username" id="username" formControlName="username" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="password" nzRequired>
                    Passwort
                </nz-form-label>
                <nz-form-control nzErrorTip="Pflichtfeld">
                    <input nz-input name="password" type="password" id="password" formControlName="password" />
                </nz-form-control>
            </nz-form-item>

            <button nz-button nzType="primary" type="submit" [nzLoading]="loading">
                Login
            </button>
        </form>
    </nz-card>
</div>
