<div class="login-form-container">
    <div class="card login-form-card">
        <div class="card-header">
            Login
        </div>
        <div class="card-block">
            <clr-alert
                [clrAlertType]="'danger'"
                *ngIf="loginFailed"
                (clrAlertClosedChange)="onLoginFailedAlertClosed()"
            >
                <clr-alert-item>
                    <span class="alert-text">
                        Login fehlgeschlagen.
                    </span>
                </clr-alert-item>
            </clr-alert>
            <form clrForm [formGroup]="form" clrLayout="vertical" class="login-form" (submit)="onLogin()">
                <clr-input-container>
                    <label>Benutzername</label>
                    <input clrInput formControlName="username" />
                    <clr-control-error>Pflichtfeld</clr-control-error>
                </clr-input-container>
                <clr-password-container>
                    <label>Passwort</label>
                    <input clrPassword formControlName="password" />
                    <clr-control-error>Pflichtfeld</clr-control-error>
                </clr-password-container>
                <button type="submit" class="btn btn-primary btn-block" [clrLoading]="loginLoadingState">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>
