<button nz-button nzType="text" (click)="switchToPreviousWeek.emit()">
    <nz-icon nzType="left-circle" />
</button>
<nz-date-picker
    #weekPicker
    class="week-picker"
    nzMode="week"
    [ngModel]="week.startDate"
    (ngModelChange)="onWeekChange($event)"
/>
<span class="week-info" [class.current]="week.isCurrentWeek" (click)="openPicker()">
    <strong>KW {{ week.calendarWeek }}</strong> ({{ week.startDate | date: 'dd.MM.' }} –
    {{ week.endDate | date: 'dd.MM.yyyy' }})</span
>
<button nz-button nzType="text" (click)="switchToNextWeek.emit()">
    <nz-icon nzType="right-circle" />
</button>
